.conversation-area {
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: scroll;
}

.conversation-item {
    padding: 10px;
    min-height: 40px;
    --tw-text-opacity: 1;
    color: rgba(236,236,241,var(--tw-text-opacity));
}

.conversation-area > .ai-reply {
    --tw-bg-opacity: 1;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
}
