/*Chat Area*/

.chat-container {
    display: flex;
}

.chat {
    min-height: calc(100vh);
    position: relative;
    flex: 1;
    --tw-bg-opacity: 1;
    background-color: rgba(52,53,65,var(--tw-bg-opacity));
}

.chat > .input-area {
    bottom: 10px;
    position: absolute;
    width: 80%;
    left: 10%;
    text-align: center;
}

.chat > .conversation-area {
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: scroll;
}

.chat .conversation-item {
    padding: 10px;
    min-height: 40px;
    --tw-text-opacity: 1;
    color: rgba(236,236,241,var(--tw-text-opacity));
}

.conversation-area > .ai-reply {
    --tw-bg-opacity: 1;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
}

/*Chat Area*/


/*Conversation Context Sidebar*/

.converation-context {
    color: white;
    flex: 0 0 30%;
    padding-right: 10px;
    padding-left: 10px;
    --tw-bg-opacity: 1;
    background-color: rgba(32,33,35,var(--tw-bg-opacity));
    overflow-y: hidden;
}


.system-area , ::deep .system-area {
    outline: none !important;
    width: 100%;
    min-height: 250px;
    --tw-bg-opacity: 1;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
    color: white;
    border: none;
    resize: none;
}

.assistant-area, ::deep .assistant-area {
    width: 100%;
    color: white;
    height: 100%;
    min-height: calc(100vh - 329px) !important;
    --tw-bg-opacity: 1;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
    border: none;
    resize: none;
    outline: none !important;
}

.assistant-area:focus {
    color: white;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
    border: none;
    resize: none;
}



.system-area:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
    color: white;
    border: none;
    resize: none;
}


/*Conversation Context Sidebar*/


/*Chat Input*/


.chat-input-group {
    height: 50px;
}


.chat-input, ::deep .chat-input {
    --tw-bg-opacity: 0.5;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
    color: white;
    border: none;
    border-top-color: rgba(32, 33, 35, 0.5);
    border-right-color: rgba(32, 33, 35, 0.5);
    border-bottom-color: rgba(32, 33, 35, 0.5);
    border-left-color: rgba(32, 33, 35, 0.5);
    outline: none !important;
}

.chat-input:focus, ::deep .chat-input:focus {
    --tw-bg-opacity: 0.5;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
    color: white;
    border: none;
   
    border-top-color: rgba(32, 33, 35, 0.5);
    border-right-color: rgba(32, 33, 35, 0.5);
    border-bottom-color: rgba(32, 33, 35, 0.5);
    border-left-color: rgba(32, 33, 35, 0.5);
}


.chat-input-button {
    --tw-bg-opacity: 0.5;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
    border: none;
    color: white;
}

.chat-input-button:hover {
    --tw-text-opacity: 1;
    color: rgba(172,172,190,var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(32,33,35,var(--tw-bg-opacity));
}

/*Chat Input*/

/*audio controls*/

.stop {
    background-color: red;
    color: white;
    font-weight: bold;
}

/*audio controls*/

/*Loading Indicator*/

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}


.loading-area {
    background: #00000054;
    border-radius: 30px;
    width: 200px;
    margin: auto;
}

.loading-area .loading-text {
    color: white;
    font-size: 20px;
}

/*Loading Indicator*/


/*Error area*/

.error-area {
    background: #00000054;
    border-radius: 30px;
    margin: auto;
}

.error-area .error-text {
    color: red;
    font-size: 20px;
}

/*Error area*/
