@page "/"

<PageTitle>OpenAI.NET Test</PageTitle>

<NavLink class="nav-link" href="textCompletion">
    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Text Completion
</NavLink>

<NavLink class="nav-link" href="chat">
    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Chat
</NavLink>

