@inherits LayoutComponentBase

<PageTitle>BlazorApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="overflow: hidden;">
        <div>
            @Body
        </div>
    </main>
</div>
